<mat-drawer-container class="main-body" autosize>
  <mat-drawer #drawer opened class="sidenav" mode="side">
    <p class="bold_tag">Filters</p>
    <mat-divider></mat-divider>
    <br *ngIf="check_selected()">
    <p *ngIf="check_selected()">
      <button class="hover_class" *ngFor="let select of selectedCat" mat-stroked-button color="primary" (click)="clear_selection(select)">
        <a>{{select.key | titlecase}}  : {{select.value}}&nbsp;</a>
        <mat-icon>close</mat-icon>
      </button>
    </p>
    <mat-divider *ngIf="check_selected()"></mat-divider>
    <mat-accordion class="headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Categories
          </mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
      <div class="sidenav">
        <div style="padding: 0 1vh 0 1vh;font-size: 15px;font-weight: 400;">Price</div>
        <!-- <mat-slider class="slider_css" min="0" max="10000" (valueChange)="price_filter($event)">
          <input [value]="price_attributes.min" [(ngModel)]="price_attributes.min" matSliderStartThumb>
          <input [value]="price_attributes.max" [(ngModel)]="price_attributes.max" matSliderEndThumb> 
        </mat-slider> -->
        <div class="custom-slider">
        <ngx-slider [(value)]="price_attributes.min" [(highValue)]="price_attributes.max" [options]="price_attributes.options" (userChange)="price_filter($event)"></ngx-slider>
        </div>
        <section>
          <mat-form-field class="value_width" appearance="fill">
            <mat-label>Min</mat-label>
            <input matInput type="number" [value]="price_attributes.min" [(ngModel)]="price_attributes.min">
            <span matPrefix>$&nbsp;</span>
          </mat-form-field>
          <mat-form-field class="value_width" appearance="fill">
            <mat-label>Max</mat-label>
            <input matInput type="number" [value]="price_attributes.max" [(ngModel)]="price_attributes.max">
            <span matPrefix>$&nbsp;</span>
          </mat-form-field>
        </section>
      </div>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Products
          </mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </mat-accordion>

  </mat-drawer>

  <div class="sidenav-content">
   
    <div class="toggle_col">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon *ngIf="drawer.opened" matTooltip="Hide Filters">arrow_left</mat-icon>
        <mat-icon *ngIf="!drawer.opened" matTooltip="Draw Filters">arrow_right</mat-icon>
      </button>
    </div>
    <div class="rest_col">
      

      <app-shop-card>
        
      </app-shop-card>
       


    </div>

  </div>

  
</mat-drawer-container>