<!--Main Div-->
<div class="About_me_body">
    <!--Top Banner of the page-->
            <br>
            <img src="https://img.freepik.com/free-photo/multiethnic-team-coworkers-using-laptop-christmas-working-project-office-decorated-with-festive-ornaments-xmas-tree-people-with-santa-hat-doing-teamwork-during-holiday_482257-47171.jpg?w=2000" alt="intro_image" class="intro_image">
            <br>
            <br>
            <!--Introduction Heading-->
            <h1 class="intro_heading">
                What do we do?
            </h1>
            <br>

            <!--Introduction_Body-->
            <div class="intro_body">
            <p>
                Christmas is the time of the year where friends and family gather together to decorate their homes with colorful ornaments and bright lights. But just how many times have you wanted to buy just the right ornament for your home but looked out the window to see the snow and given up? 
            </p>
            <p>
                Thats where we come into play!
            </p>
            <p>
                Dashing through the snow has dedicated services to bring the holiday spirit and cheer to your doorstep and save you from the hassle of having to venture out in the cold.
            </p>
        </div>
        <br>
        <!--Our Story-->
          <div class="story">
            <div>
                <h1 class="story_heading">Our Story</h1>
                <div class="story_content">
                    <p>
                        On a cold snowy day, three friends gathered were gathered in a cafe. Two had their hands wrapped around steaming bowls of hot chocolate while the other was eased up against his chair with a banana smoothie in his hand. They could hear the soft melody of carols playing in the distance as they looked out the window, admiring the houses decorated with warm lights.
                    </p>
                    <p>
                        On a cold snowy day, three friends were gathered in a cafe. Two had their hands wrapped around steaming bowls of hot chocolate while the other was eased up against his chair with a banana smoothie in his hand. They could hear the soft melody of carols playing in the distance as they looked out the window, admiring the houses decorated with warm lights.
                    </p>
                </div>
        </div>
    <div>
            <img src="../../../assets/christmas.jpg" alt="intro_image" >
        </div>

        </div> 
        <br><br><br>
        <!--Our Vision-->
        <div class="vision">
            <div>
                <img src="../../../assets/christmas.jpg" alt="intro_image" class="second_image" >
            </div>
            <div>
                <h1 class="vision_heading">Our Vision</h1>
                <div class="vision_content">
            <p>
                On a cold snowy day, three friends gathered were gathered in a cafe. Two had their hands wrapped around steaming bowls of hot chocolate while the other was eased up against his chair with a banana smoothie in his hand. They could hear the soft melody of carols playing in the distance as they looked out the window, admiring the houses decorated with warm lights.
            </p>
            <p>
                On a cold snowy day, three friends were gathered in a cafe. Two had their hands wrapped around steaming bowls of hot chocolate while the other was eased up against his chair with a banana smoothie in his hand. They could hear the soft melody of carols playing in the distance as they looked out the window, admiring the houses decorated with warm lights.
            </p>
        </div>
        </div>
    

        </div>

        <!--contact us-->
        <h1 class="contact_heading">Contact Us</h1>
        <div class="contact">
            
            <div class="contact_content">
                <h1 class="contact_content_heading">
                    Email
                </h1>
                <p>
                    dashingthrowthesnow@smu.ca
                </p>
                
            </div>
            <div class="contact_content">
                <h1 class="contact_content_heading">
                    Phone no
                </h1>
                <p>
                    411-398-5334
                </p>
            </div>
            <div class="contact_content">
                <h1 class="contact_content_heading">
                    Address
                </h1>
                <p>
                    5825 Gorsebrook Ave, B3H1G3, Halifax
                </p>
            </div>

        </div>
       
        
      


</div>

