.column {
    float: left;
    width: 47%;
    padding: 2vh;
    height: 100%;
    align-content: center;
    justify-content: center;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .image_css{
    display: inline-block;
    width: 30wh;
    height: 50vh;
    // box-shadow: 2px 2px 2px 2px lightblue;
  }
  .image_css img{
    width:100%;
    height:100%;
    object-fit: cover;
  }