<div style="overflow-y: hidden;" class="main-body">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-6">
      <div style="height:5vh"></div>
      <p class="text">Dashing Through<br><br><br>
        the Snow</p>
        <br>
      <ngb-carousel class="carousel mat-elevation-z8"  *ngIf="images">
        <ng-template *ngFor="let img of images;let i=index;" ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="img.img" alt="Random first slide" />
          </div>
          <div class="carousel-caption">
            <!-- <h3>{{img.label}}</h3>
            <p mat-button [routerLink]="" target="_blank">Link</p> -->
          </div>
        </ng-template>
      </ngb-carousel>
      </div>
      <div class="col-1"></div>
      <div class="col-3">
        <div style="height:5vh"></div>
        <div class="image_css mat-elevation-z8">
          <img src="../../../assets/christmas.jpg" />
        </div>    
      </div>
    </div>
</div>
