<ngx-ui-loader
  [fgsColor]="config.fgsColor"
  [fgsSize]="config.fgsSize"
  [bgsColor]="config.bgsColor"
  [bgsOpacity]="config.bgsOpacity"
  [bgsSize]="config.bgsSize"
  [gap]="config.gap"
  [logoSize]="config.logoSize"
  [logoUrl]="config.logoUrl"
  [overlayColor]="config.overlayColor"
  [pbColor]="config.pbColor"
  [pbThickness]="config.pbThickness"
  [hasProgressBar]="config.hasProgressBar"
  [text]="config.text"
  [textColor]="config.textColor"
></ngx-ui-loader>

<div ngxUiLoaderBlurred>
<app-header (emit_login)="login($event)"></app-header>
<app-login (logged_user)="getUser($event)" *ngIf="loginFlag && user == ''"></app-login>
<app-home  *ngIf="user != ''"></app-home>
<!-- <h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>


<p *ngIf="!forecasts"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>

<table *ngIf="forecasts" mat-table [dataSource]="forecasts" class="mat-elevation-z8 demo-table">

    <ng-container matColumnDef="Date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>
  

    <ng-container matColumnDef="Temp. (C)">
      <th mat-header-cell *matHeaderCellDef> Temp. (C) </th>
      <td mat-cell *matCellDef="let element"> {{element.temperatureC}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Temp. (F)">
      <th mat-header-cell *matHeaderCellDef> Temp. (F) </th>
      <td mat-cell *matCellDef="let element"> {{element.temperatureF}} </td>
    </ng-container>

    <ng-container matColumnDef="Summary">
        <th mat-header-cell *matHeaderCellDef> Summary </th>
        <td mat-cell *matCellDef="let element"> {{element.summary}} </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> -->

<app-footer></app-footer>

</div>
