<ngx-ui-loader
  [fgsColor]="config.fgsColor"
  [fgsSize]="config.fgsSize"
  [bgsColor]="config.bgsColor"
  [bgsOpacity]="config.bgsOpacity"
  [bgsSize]="config.bgsSize"
  [gap]="config.gap"
  [logoSize]="config.logoSize"
  [logoUrl]="config.logoUrl"
  [overlayColor]="config.overlayColor"
  [pbColor]="config.pbColor"
  [pbThickness]="config.pbThickness"
  [hasProgressBar]="config.hasProgressBar"
  [text]="config.text"
  [textColor]="config.textColor"
></ngx-ui-loader>

<div ngxUiLoaderBlurred>
<app-header [loginFlag]="loginFlag" [badge]="badge" (routing) = "getRoute($event)" (shop_item) = "getSelectedCat($event)"></app-header>
<app-login (logged_user)="getUser($event)" *ngIf="route=='l'"></app-login>
<app-home [loginFlag]="loginFlag" *ngIf="route=='h'"></app-home>
<app-about-us *ngIf="route=='u'"></app-about-us>
<app-shop *ngIf="route=='s'" [selectedCat]="shopCat" (updateBadge)="getBadge($event)"></app-shop>
<app-cart *ngIf="route=='c'" (updateBadge)="getBadge($event)"></app-cart>
<app-account *ngIf="route=='a'"></app-account>

<app-footer></app-footer>

</div>
