<div class="header">
  <mat-toolbar>
    <span class="circle-image mat-elevation-z8">
      <img src="../../../assets/fox.png" />
    </span>
    <span class="icon_spacer"></span>
    <button mat-button [ngClass]="{'selected':route === 'h'}" (click)="changeRoute('h')">Home</button>
    <span class="icon_spacer"></span>
    <button mat-button [ngClass]="{'selected':route === 'u'}" (click)="changeRoute('u')">About Us</button>
    <span class="icon_spacer"></span>
    <span [ngClass]="{'selected dropdown':route === 's'}">
      <button mat-button (click)="changeRoute('s')">Shop</button>
      <mat-icon class="arrow">
        <mat-select disableRipple>
          <mat-option *ngFor="let cat of shop_categories" [value]="cat" (click)="selectedItem(cat)">{{cat.value}}</mat-option>
        </mat-select>
      </mat-icon>
    </span>
    <span class="spacer"></span>
    <button mat-button [matBadge]="badge" [ngClass]="{'selected':route === 'c'}" matTooltip="Cart"
      (click)="changeRoute('c')">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <span class="icon_spacer"></span>
    <button mat-button *ngIf="!loginFlag" [ngClass]="{'selected':route === 'l'}" aria-label="login" matTooltip="Login"
      (click)="login()">
      Register / Sign In
    </button>
    <button mat-button *ngIf="loginFlag" [ngClass]="{'selected':route === 'a'}" matTooltip="Account"
      (click)="changeRoute('a')">
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>
</div>